extends layout

block content
  h1 Welcome to MHM webcam archive
  .slidecontainer
    .buttonContainer.center
      button.play#play play
      button.pause#pause pause
      //- button.forward#forward forward
      //- button.backward#backward backward
  p.center#timeStamp timeline
  input.fw#timeline(type="range" value="0")

  script.
    var data = !{JSON.stringify(imgArr)}
    var weather = !{JSON.stringify(conditions)}
    //- console.log(weather)
  script
    include ./file.js